# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS / macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Pods/
macos/.symlinks/

# VS Code / Android Studio
.vscode/
.idea/
*.iml

# System files
.DS_Store
Thumbs.db

# Logs
*.log